<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Signup Page -- Template</title>
  <link rel="stylesheet" href="./css/style.css">

  <!-- Compiled and minified CSS -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="../../css/materialize.min.css"  media="screen,projection"/>
  <style media="screen">
    html {
      scroll-behavior: smooth;
    }
    .modal-content {
      height: 25em
    }
  </style>
</head>
<body>
  <nav>
    <div class="nav-wrapper teal">
      <a href="#" class="brand-logo">Logo</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="sass.html">JV Team</a></li>
        <li><a href="badges.html">Varsity Team</a></li>
        <li><a href="collapsible.html">Training</a></li>
      </ul>
    </div>
  </nav>
  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2">Game Title</h1>
        <div class="row center">
          <h5 class="header col s12 light">What we do</h5>
        </div>
        <div class="row center">
          <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Get Started</a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="template.jpg" alt="Unsplashed background img 1"></div>
  </div>


  <div class="container">
    <div class="section">
	<div class="center">
		<h2>Join our game club!</h2>
	</div>
    </div>
    <div class="row">
    	<div class="l6 s12">
		<p>Players of any skill level needed!</p>
		<blockquote>
			This is a fun thing that we do... you should do it too!
			<br>
			-- Someone Probably
		</blockquote>
    	</div>
    	<div class="input-field l6 s12">
		<p>Gain new skills</p>
		<select multiple id="skills">
			<option value="" disabled>Tell us what skills you don't know!</option>
			<option value="1">MALLC</option>
			<option value="2">IDJ</option>
			<option value="3">Blazing End Footstool Tech</option>
		</select>
	</div>
    </div>
  </div>

  <div class="fixed-action-btn">
    <a class="btn-floating btn-large red" id="menu">
      <i class="large material-icons">mouse</i>
    </a>
    <ul>
      <li><a class="btn-floating red modal-trigger" href="#contactmodal"><i class="material-icons">email</i></a></li>
      <li><a class="btn-floating yellow darken-1" href="https://github.com/ThePythonicProgrammer/alpinesditeam"><i class="material-icons">code</i></a></li>
      <li><a class="btn-floating green" id="top"><i class="material-icons">keyboard_arrow_upward</i></a></li>
      <li><a class="btn-floating blue" id="bottom"><i class="material-icons">keyboard_arrow_downward</i></a></li>
    </ul>
  </div>

  <div id="contactmodal" class="modal">
    <div class="modal-content">
      <h4>Contact Us</h4>
      <div class="input-field col s12">
        <select multiple id="subjects">
          <option value="" disabled>Choose your option</option>
          <option value="1">Join Iteam</option>
          <option value="2">More Information</option>
          <option value="3" id="date3" disabled selected></option>
        </select>
        <label>Subjects</label>
      </div>
    </div>
      <div class="modal-footer">
        <a class="modal-close btn waves-grey btn-flat" id="mailto" href="mailto:joe@example.com?subject=Iteam+Interest&body=">email me</a>
      </div>
  </div>


  <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio</h5>
	  <button onClick="loadDoc()">Testing AJAX</button>
	  <p id="demo"></p>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="cardtemplate.js"></script>
  <script type="text/javascript" src="../../js/materialize.js"></script>
  <script type="text/javascript">
  function loadDoc() {
    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
      if (this.readyState == 4 && this.status == 200) {
        document.getElementById('demo').innerHTML = this.responseText;
      }
    };
    xhttp.open("GET", "ajax_info.txt", true);
    xhttp.send();
  }
  </script>
</body>
</html>
